
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Outfit:wght@100..900&family=Prata&display=swap');

*{
 font-family: outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #c586A5;
    border-radius: 4px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



.active{
    background-color: #ffebf5;
    border-color:#c586A5;
}
